body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: #000;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: none;
}

#root {
  width: 100%;
  height: 100vh;
}